* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif");
}

h1,
section,
button {    
    margin-bottom: 10px;
}

h1 {
    font-family: 'Star Jedi', arial;
    color: yellow;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 48px;
}

section {
    width: 60%;
    height: 180px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 180px;
    color: white;
}

section,
button {
    border: 2px solid yellow;
    border-radius: 20px;
}

button {
    width: 150px;
    height: 30px;
}

.none {
    display: none;
}


