.container {
    text-align: center;
}

.container div {
    height: 200px;
}

img {
    width: 30px;
    height: 30px;
}

.green {
    position: absolute;
    left: 0px;
    top: 5px;
}

.red {
    position: absolute;
    right: 0px;
    top: 5px;
}

span {
    text-decoration: line-through;
}

p, button {
    margin-left: 15px;
}

.container > div {
    margin-bottom: 100px;
    display: inline-block;
}

.pic1 {
    background-image: url("image1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.pic2 {
    background-image: url("image2.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.pic3 {
    background-image: url("image3.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.pic4 {
    background-image: url("image4.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.pic5 {
    background-image: url("image1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}