* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
} 

.side1 {
    margin-right: 20px;
    background-color: lightgray;
}

img {
    border-radius: 50%;
    margin-top: 70px;
}

h1, .title, .number, .email, .address, i {
    text-align: center;
    font-family: Garamond, Cambria, serif;
}

.email {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
}

a i {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

h3 {
    margin-top: 15px;
}

.side2 {
    margin-left: 10px;
}

.edulist {
    list-style-position: inside;
    text-indent: 20px;
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

.list1 {
    margin: 40px
}

.list2 {
    margin: 40px;
}